:root {
  /* Colores primarios */
  --color-primary: #fa7436; /* Naranja principal (botones, acentos) */
  --color-primary-dark: #e66327; /* Versión más oscura del naranja */
  --color-primary-light: #ffe7db; /* Fondo de tarjetas o secciones secundarias */

  /* Colores secundarios */
  --color-secondary: #ffd205; /* Amarillo (estrellas y pequeños acentos) */
  --color-highlight: #2d96fa; /* Azul usado en íconos o links ocasionales */
  --color-success: #45b26b; /* Verde si deseas usar algún estado positivo */

  /* Colores neutros */
  --color-white: #ffffff;
  --color-light: #f7f8fc; /* Fondo claro general */
  --color-gray: #9b9b9b; /* Texto secundario */
  --color-gray-light: #f0f0f0; /* Fondo de tarjetas o secciones secundarias */
  --color-dark: #191825; /* Títulos y texto principal */

  /* Texto */
  --text-primary: #191825;
  --text-secondary: #6e6e6e;

  /* Extras */
  --color-border: #e5e5e5;
  --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.05);
  --radius-soft: 12px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: hidden;
  background-color: var(--color-light);
  padding-bottom: 2rem;
  width: 100%;
  height: auto;
}

.hero-description {
  margin-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 1rem;
  max-width: 45rem;
}

.hero-description h1 {
  color: var(--text-primary);
  font-size: 3rem;
  font-weight: 700;
  font-style: normal;
  line-height: 3.2rem;
  padding-top: 5rem;
  margin-bottom: 1rem;
}

.hero-description span {
  color: var(--color-primary);
}

.hero-description h2 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-bottom: 2rem;
  max-width: 600px;
}

.hero-image {
  flex-basis: auto;
  max-width: 40rem;
  height: auto;
  position: relative;
  width: 100%;
}

.hero button {
  background-color: transparent;
  border: solid 2px var(--color-primary);
  width: 10rem;
  height: 4rem;
  border-radius: var(--radius-soft);
  color: var(--color-primary);
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hero button:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.deals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--color-light);
}

.deals h2 {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.deals h2 span {
  color: var(--color-primary);
}

.deals p {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: var(--text-secondary);
}

.carrusel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding: 1rem;
}
/* .deals .carrusel::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento 
} */

.carrusel-item {
  flex: 0 0 auto; /* Permite que los elementos se ajusten al contenido */
  width: 300px; /* Ancho fijo para cada oferta */
  background-color: var(--color-white);
  border-radius: var(--radius-soft);
  box-shadow: var(--shadow-soft);
  padding: 1rem;
  scroll-snap-align: start; /* Alinea el inicio de cada oferta al inicio del viewport */
  transition: transform 0.3s ease;
}
.carrusel-item:hover {
  transform: translateY(-5px);
}

.carrusel-item img {
  max-width: 100%;
  border-radius: var(--radius-soft);
  height: 18rem;
}

.oferta .button-book-now {
  display: none;
  position: absolute;
  bottom: 15rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: var(--radius-soft);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
}

.oferta:hover .button-book-now {
  display: block; /* Muestra el botón al pasar el mouse */
}

.oferta .info {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.oferta .info p {
  font-size: 1rem;
  width: auto;
}

.oferta .location-pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.oferta .location-pricing img {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
}

.location-pricing p {
  font-size: 1rem;
  color: var(--text-secondary);
  margin: 0;
  text-align: left;
}

.oferta .precio-anterior {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-secondary);
  text-decoration: line-through;
  text-align: right;
  margin-right: 1rem;
}

.location-pricing .precio-actual {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-primary);
  background-color: var(--color-primary-light);
  text-align: right;
  max-width: 3.5rem;
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
}

.blog {
  background-color: var(--color-light);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.blog h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.blog h2 span {
  color: var(--color-primary);
}

.post-info {
  padding: 1rem;
  text-align: left;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-light);
  padding: 1.5rem;
  text-align: center;
  border-top: 1px solid var(--color-border);
}

.footer-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
  /* max-width: 1040px; */
  height: auto;
  padding: 2rem 0;
}

.footer-details .column {
  width: 20%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.footer-details .logo-column {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logo-column p {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-secondary);
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.column ul li {
  margin: 0.5rem 0;
}

.column ul li a {
  text-decoration: none;
  color: var(--text-secondary);
  font-weight: 500;
  transition: color 0.3s ease;
  text-align: left;
}

.column ul li a:hover {
  color: var(--color-dark);
}

footer .copyright {
  border-top: 2px solid var(--color-border);
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* max-width: 900px; */
  height: 6rem;
}

.copyright .made-by {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.made-by p {
  font-size: 1rem;
  color: var(--text-secondary);
  font-weight: 400;
}

.made-by p span {
  color: var(--color-primary);
  font-size: 1.5rem;
}

.made-by a {
  text-decoration: none;
  color: var(--text-secondary);
  font-weight: 300;
  transition: color 0.3s ease;
}

.made-by a:hover {
  color: var(--color-primary-dark);
}

/*Dayana

/* Estilo del header */

header {
  background-color: var(--color-light);
  border-bottom: 1px solid var(--color-border);
  padding: 20px 40px;
  width: 98vw;
  overflow-x: hidden;
}

/* Contenedor del logo y menú */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Estilo del logo */
.logo {
  margin-right: 5rem;
}

/* Estilo del menú */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: 700;
  transition: color 0.3s ease;
  padding: 10px 0;
}

/* Efecto al pasar el mouse */
.nav-links li a:hover {
  color: var(--color-primary);
  border-top: solid 2px var(--color-dark);
}

.things-to-do {
  text-align: center;
  padding: 60px 20px;
  background-color: var(--color-light);
}

.things-to-do h2 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 3rem;
  margin-bottom: 10px;
  color: var(--text-primary);
}

.things-to-do h2 span {
  color: var(--color-primary);
}

/* 
PARTE Features
*/
.things-to-do p {
  max-width: 700px;
  font-weight: 400;
  margin: 0 auto 40px;
  color: var(--color-gray);
  font-size: 1rem;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: var(--color-light);
  border-radius: 10px;
  padding: 30px 20px;
  width: 280px;
  box-shadow: 0 2px 8px var(--color-dark);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  height: 50px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--text-primary);
}

.card p {
  font-size: 0.95rem;
  color: var(--color-gray);
}

/*
Parte de Vacaciones
*/

.vacations-plans {
  text-align: center;
  padding: 60px 20px;
}

.vacations-plans h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.vacations-plans h2 span {
  color: var();
}

.vacations-plans .description {
  color: var(--color-gray);
  max-width: 600px;
  margin: 0 auto 40px;
  font-size: 1rem;
  line-height: 1.5;
}

.destinations {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.destination-card {
  background-color: var();
  border-radius: 12px;
  overflow: hidden;
  width: 280px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}

.destination-card .book-now {
  display: none;
  background-color: var(--color-primary);
  width: 100px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120%);
  border: none;
  border-radius: 10px;
  color: var(--color-white);
}

.destination-card:hover {
  transform: translateY(-5px);
}
.destination-card:hover .book-now {
  display: block;
}

.destination-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.destination-card .info {
  padding: 15px;
  text-align: left;
}

.destination-card h3 {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.destination-card p {
  font-size: 0.9rem;
  color: var(--text-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.destination-card p img {
  width: 30px;
  height: auto;
}

/* 
FORMULARIO
*/
.form-suscribe {
  background-color: var(--color-primary); /* Naranja fuerte */
  color: var(--color-light);
  text-align: center;
  padding: 60px 20px;
  border-radius: 15px;
  margin: 5rem auto;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.form-suscribe h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 30px;
  line-height: 1.4;
}

.form {
  background-color: var(--color-light);
  width: 35%;
  padding: 1rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 15px;
  flex-direction: column;
  min-width: 250px;
}

.form input {
  padding: 15px;
  border-radius: 10px;
  border: none;
  width: 250px;
  max-width: 80%;
  font-size: 1rem;
  height: 60%;
  text-align: center;
}

.form-suscribe button {
  padding: 15px 25px;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-light);
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  height: 60%;
}

.form-suscribe button:hover {
  background-color: var(--color-light);
}

.oferta-cronometro {
  background-color: transparent;
  color: var(--color-primary);
  text-align: center;
  margin: 20px auto;
  font-family: "Segoe UI", sans-serif;
  gap: 15px;
  justify-content: center;
  display: flex;
}

.oferta-cronometro .mensaje {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 5px;
}

#reloj {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-primary);
  background-color: var(--color-light);
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 10px var(--color-gray-light);
  margin-top: 15px;
  margin-bottom: 30px;
}
@keyframes pulso {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

#reloj {
  animation: pulso 1s infinite;
}

.open-menu {
  width: 40px;
  height: 40px;
  background-image: url("./assets/menu-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 18px;
  right: 30px;
  border: none;
  display: none;
}

.menu-aside {
  display: none;
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0%;
  right: 0;
  background-color: var(--color-light);
  z-index: 1000;
}

.close-menu {
  width: 40px;
  height: 40px;
  background-image: url("./assets/close-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  top: 18px;
  right: 30px;
}

.nav-links-aside {
  margin-top: 5rem;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.nav-links-aside li a {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: 700px;
  padding: 10px 0;
  border-bottom: 2px solid var(--color-border);
}

.nav-links-aside li a:hover {
  color: var(--color-primary);
}

@media (max-width: 1045px) {
  .open-menu {
    display: block;
  }
  .nav-links {
    display: none;
  }
  .footer-details .column {
    flex: 1 1 35%;
    padding-left: 8rem;
  }
  .footer-details .logo-column {
    /* width: 100%; */
    padding-left: 2rem;
  }
}
@media (max-width: 600px) {
  .footer-details .column {
    flex: 1 1 100%;
    padding-left: 2rem;
  }
  footer .copyright {
    padding: 1rem 0 0 0;
  }
}
